!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>APP</title>
    <style>
        body{
          background-color:#fc8d54;
        }
    </style>
      {% for appointment in appointments %}
        <tr>
            <td>{{appointment.patient_name}}</td>
            <td>{{appointment.doctor_name}}</td>
            <td>{{appointment.date}}</td>
            <td>{{appointment.time}}</td>
            <td>{{appointment.type}}</td>
        </tr>
        {% endfor %}
</head>
<body>
  {% block body %}{% endblock %}
</body>
</html>